a {
	background: tomato;
	border-bottom: 6px solid #AD4B39;
	color: white;
	display: inline-block;
	font-size: 40px;
	font-weight: 700;
	padding: 30px 40px;
	letter-spacing: 2px;
	text-align: center;
	text-decoration: none;	
}
a:hover {
	background: #FF7C64;
	border-bottom: 6px solid #CB6350;
}
body {
	background: #7B1E7A;
	font-family: 'Lato', cursive;
}
#clima img {
	width: 28px;
}
#geo {
	display: table;
	margin: 0 auto;
}
h1 {
	color: white;
	font-size: 90px;
	text-align: center;
	text-shadow: 5px 5px black;
	letter-spacing: 9px;
}
h3 {
	color: white;
	text-align: center;
	text-decoration: underline;
}
p {
	color: white;
	text-align: center; 
}
